@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Barlow:wght@700&family=Bebas+Neue&family=Courgette&family=Kaisei+HarunoUmi&family=Lato&family=Libre+Baskerville&display=swap');
*{
    font-family: 'AR One Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}